body {
  background-color: #999999;
  font-family: sans-serif;
}

#container {
  background-color: white;
  width: 800px;
  margin: 10 auto 0 auto;
  padding: 30px;
  border: 3px dotted black;
}

h1 {
border-bottom: 1px solid black;
}
